<nav>
  <div class="main-navbar">
    <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
    <div id="mainnav">
      <ul class="nav-menu custom-scrollbar">
        <li class="back-btn">
          <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
          </div>
        </li>

        <!-- NEWS Navbar -->
        <li class="sidebar-main-title">
          <div>
            <h6>NEWS</h6>
          </div>
        </li>
        <li class="dropdown">
          <!-- <a class="nav-link menu-title link-nav" href="file-manager.html"> <i data-feather="home"></i><span>National News</span></a> -->
          <%= link_to home_path, class: 'nav-link menu-title link-nav' do %>
            <i data-feather="home"></i><span>National News</span>
          <% end %>
        </li>

        </li>
        <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
              data-feather="airplay"></i><span>International News</span></a>
          <ul class="nav-submenu menu-content">
            <li><%= link_to "Middle East", coming_soon_path %></li>
            <li><%= link_to "Africa", coming_soon_path %></li>
            <li><%= link_to "Asia", coming_soon_path %></li>
            <li><%= link_to "US & Canada", coming_soon_path %></li>
            <li><%= link_to "Latin America", coming_soon_path %></li>
            <li><%= link_to "Europe", coming_soon_path %></li>
            <li><%= link_to "Asia Pacific", coming_soon_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <!-- <a class="nav-link menu-title link-nav" href="file-manager.html"> <i data-feather="layout"></i><span>Opinion Building</span></a> -->
          <%= link_to home_path, class: 'nav-link menu-title link-nav' do %>
            <i data-feather="layout"></i><span>Opinion Building</span>
          <% end %>
        </li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="file-manager.html"><i
              data-feather="edit"></i><span>Editorials</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
              data-feather="layers"></i><span>Other Topics</span></a>
          <ul class="nav-submenu menu-content">
            <li><a href="form-builder-1.html">Coronavirus</a></li>
            <li><a href="form-builder-2.html">Economy</a></li>
            <li><a href="pagebuild.html">Climate Crisis</a></li>
            <li> <a href="button-builder.html">Science & Technology</a></li>
            <li> <a href="button-builder.html">Sports</a></li>
            <li> <a href="button-builder.html">Podcasts</a></li>
          </ul>
        </li>

        <!-- CSS Navbar -->
        <li class="sidebar-main-title">
          <div>
            <h6>CSS Section</h6>
          </div>
        </li>
        <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
              data-feather="box"></i><span>Compulsory</span></a>
          <ul class="nav-submenu menu-content">
            <li><a href="typography.html">English Essay</a></li>
            <li><a href="avatars.html">English (Precis and Composition)</a></li>
            <li><a href="grid.html">General Science & Ability</a></li>
            <li><a href="progress-bar.html">Current Affairs</a></li>
            <li><a href="modal.html">Pakistan Affairs</a></li>
            <li><a href="alert.html">Islamic Studies OR </a></li>
            <li><a href="popover.html">Comparative Study of Major Religions (For Non Muslims)</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
              data-feather="folder-plus"></i><span>Group I</span></a>
          <ul class="nav-submenu menu-content">
            <li><a href="scrollable.html">Accountancy & Auditing</a></li>
            <li><a href="tree.html">Economics</a></li>
            <li><a href="bootstrap-notify.html">Computer Science</a></li>
            <li><a href="rating.html">Political Science</a></li>
            <li><a href="dropzone.html">International Relations</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
              data-feather="edit-3"></i><span>Group II</span></a>
          <ul class="nav-submenu menu-content">
            <li><a href="form-builder-1.html">Physics</a></li>
            <li><a href="form-builder-2.html">Chemistry</a></li>
            <li><a href="pagebuild.html">Applied Mathematics</a></li>
            <li> <a href="button-builder.html">Pure Mathematics</a></li>
            <li> <a href="button-builder.html">Statistics</a></li>
            <li> <a href="button-builder.html">Geology</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
              data-feather="cloud-drizzle"></i><span>Group III</span></a>
          <ul class="nav-submenu menu-content">
            <li><a href="animate.html">Business Administration</a></li>
            <li><a href="scroll-reval.html">Public Administration</a></li>
            <li><a href="AOS.html">Governance & Public Policies</a></li>
            <li><a href="tilt.html">Town Planning & Urban Management</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
              data-feather="command"></i><span>Group IV</span></a>
          <ul class="nav-submenu menu-content">
            <li><a href="flag-icon.html">History of Pakistan & India</a></li>
            <li><a href="ico-icon.html">Islamic History & Culture</a></li>
            <li><a href="themify-icon.html">British History</a></li>
            <li><a href="feather-icon.html">European History</a></li>
            <li><a href="whether-icon.html">History of USA</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
              data-feather="cloud"></i><span>Group V</span></a>
          <ul class="nav-submenu menu-content">
            <li><a href="buttons.html">Gender Studies</a></li>
            <li><a href="buttons-flat.html">Environmental Sciences</a></li>
            <li><a href="buttons-edge.html">Agriculture & Forestry</a></li>
            <li><a href="raised-button.html">Botany</a></li>
            <li><a href="button-group.html">Zoology</a></li>
            <li><a href="button-group.html">English Literature </a></li>
            <li><a href="button-group.html">Urdu Literature</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
              data-feather="bar-chart"></i><span>Group VI</span></a>
          <ul class="nav-submenu menu-content">
            <li><a href="chart-apex.html">Law</a></li>
            <li><a href="chart-google.html">Constitutional Law</a></li>
            <li><a href="chart-sparkline.html">International Law</a></li>
            <li><a href="chart-flot.html">Muslim Law & Jurisprudence </a></li>
            <li><a href="chart-knob.html">Mercantile Law</a></li>
            <li><a href="chart-morris.html">Criminology</a></li>
            <li><a href="chartjs.html">Philosophy</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
              data-feather="layout"></i><span>Group VII</span></a>
          <ul class="nav-submenu menu-content">
            <li><a href="chart-apex.html">Journalism & Mass Communication</a></li>
            <li><a href="chart-google.html">Psychology</a></li>
            <li><a href="chart-sparkline.html">Geography</a></li>
            <li><a href="chart-flot.html">Sociology</a></li>
            <li><a href="chart-knob.html">Anthropology</a></li>
            <li><a href="chart-morris.html">Punjabi</a></li>
            <li><a href="chartjs.html">Sindhi</a></li>
            <li><a href="chartist.html">Pashto</a></li>
            <li><a href="chart-peity.html">Balochi</a></li>
            <li><a href="chart-peity.html">Persian</a></li>
            <li><a href="chart-peity.html">Arabic</a></li>
          </ul>
        </li>

        <!-- One Paper MCQs Navbar -->
        <li class="sidebar-main-title">
          <div>
            <h6>One Paper MCQs</h6>
          </div>
        </li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="file-manager.html"><i
              data-feather="edit"></i><span>General Knowledge</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
              data-feather="sliders"></i><span>Current Affairs</span></a>
          <ul class="nav-submenu menu-content">
            <li><a href="form-validation.html">Pakistan Current Affairs</a></li>
            <li><a href="base-input.html">World Current Affairs</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="file-manager.html"><i
              data-feather="folder"></i><span>Pakistan Study</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="file-manager.html"><i
              data-feather="folder-minus"></i><span>Islamic Studies</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="file-manager.html"><i
              data-feather="folder-plus"></i><span>Everyday Science</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
              data-feather="layers"></i><span>Others</span></a>
          <ul class="nav-submenu menu-content">
            <li><a href="datepicker.html">English Mcqs</a></li>
            <li><a href="time-picker.html">Maths Mcqs</a></li>
            <li><a href="datetimepicker.html">Computer Mcqs</a></li>
            <li><a href="daterangepicker.html">Pedagogy Mcqs</a></li>
            <li><a href="touchspin.html">Physics Mcqs</a></li>
            <li><a href="select2.html">Chemistry Mcqs</a></li>
            <li><a href="switch.html">Bio Mcqs</a></li>
            <li><a href="typeahead.html">Urdu Mcqs</a></li>
          </ul>
        </li>



        <!-- JOBS Navbar -->
        <li class="sidebar-main-title">
          <div>
            <h6>JOBS</h6>
          </div>
        </li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="file-manager.html"><i
              data-feather="git-pull-request"></i><span>Federal Jobs</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="kanban.html"><i
              data-feather="monitor"></i><span>Punjab Jobs</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="bookmark.html"><i
              data-feather="heart"></i><span>Sindh Jobs</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="contacts.html"><i
              data-feather="list"></i><span>KPK Jobs</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="task.html"><i
              data-feather="check-square"></i><span>Baluchistan Jobs</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="calendar-basic.html"><i
              data-feather="calendar"></i><span>Gilgit Baltistan Jobs</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="social-app.html"><i
              data-feather="zap"></i><span>See Other Jobs</span></a></li>



        <!-- FAQs Navbar -->
        <li class="sidebar-main-title">
          <div>
            <h6>FAQs</h6>
          </div>
        </li>
        <li><a class="nav-link menu-title link-nav" href="landing-page.html"><i
              data-feather="navigation-2"></i><span>CSS FAQs</span></a></li>
        <li><a class="nav-link menu-title link-nav" href="sample-page.html"><i data-feather="file"></i><span>FPSC
              FAQs</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="internationalization.html"><i
              data-feather="aperture"></i><span>PPSC FAQs</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="../starter-kit/index.html"><i
              data-feather="anchor"></i><span>KPPSC FAQs</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="../starter-kit/index.html"><i
              data-feather="file"></i><span>SPSC FAQs</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="../starter-kit/index.html"><i
              data-feather="file-minus"></i><span>BPSC FAQs</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="../starter-kit/index.html"><i
              data-feather="file-plus"></i><span>NTS FAQs</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="../starter-kit/index.html"><i
              data-feather="file-text"></i><span>PTS FAQs</span></a></li>
        <li class="dropdown"><a class="nav-link menu-title link-nav" href="../starter-kit/index.html"><i
              data-feather="x-square"></i><span>OTS FAQs</span></a></li>
      <br>
      </ul>
    </div>
    <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
  </div>
</nav>