<div class="page-body">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-6">
          <h3>Today's News</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", home_path %></li>
            <li class="breadcrumb-item active">News</li>
          </ol>
        </div>
        <div class="col-sm-6">
          <!-- Bookmark Start-->
          <div class="bookmark">
            <ul>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
              <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                <form class="form-inline search-form">
                  <div class="form-group form-control-search">
                    <input type="text" placeholder="Search..">
                  </div>
                </form>
              </li>
            </ul>
          </div>
          <!-- Bookmark Ends-->
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid blog-page">
    <div class="row">
      <div class="col-xxl-6 set-col-12 box-col-12 xl-40">
        <div class="card">
          <div class="blog-box blog-shadow">
            <%= image_tag('blog.jpg', {class: 'img-fluid bg-img-cover'}) %>
            <div class="blog-details">
              <p><%= @popular[0].created_at.strftime("%m %B %Y") %></p>
              <!-- <p>25 July 2018</p> -->
              <%= link_to post_path(@popular[0].id) do %>
                <h4><%= truncate(@popular[0].title.titleize, length: 65) %></h4>
              <% end %>
              <ul class="blog-social">
                <li><i class="icofont icofont-user"></i><%= truncate(@popular[0].moderator.full_name, length: 40) %></li>
                <li><i class="icofont icofont-thumbs-up"></i>02 Hits</li>
                <% @comments = @popular[0].comments.approved.count %>
                <li><i class="icofont icofont-ui-chat"></i><%= @comments> 0 ? pluralize(@comments, 'Comment') : 'No Comments' %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-6 set-col-12 box-col-12 xl-60">
        <div class="row">
          <div class="col-xl-12 col-md-6">
            <div class="card">
              <div class="blog-box blog-list row">
                <div class="col-xl-6 col-12">
                  <div class="blog-wrraper">
                    <%= link_to post_path(@popular[1].id) do %>
                      <%= image_tag('blog-2.jpg', {class: 'img-fluid sm-100-wp p-0'}) %>
                    <% end %>
                  </div>
                </div>
                <div class="col-xl-6 col-12">
                  <div class="blog-details">
                    <div class="blog-date"><span><%= @popular[1].created_at.strftime("%m") %></span> <%= @popular[1].created_at.strftime("%B %Y") %></div>
                    <%= link_to post_path(@popular[1].id) do %>
                      <h6><%= truncate(@popular[1].title.titleize, length: 35) %></h6>
                    <% end %>
                    <div class="blog-bottom-content">
                      <ul class="blog-social">
                        <li>by: <%= truncate(@popular[1].moderator.full_name, length: 25) %></li>
                        <li>12 Hits</li>
                      </ul>
                      <hr>
                      <%= link_to post_path(@popular[1].id) do %>
                        <p class="mt-0"><%= truncate(@popular[1].content.html_safe, length: 110) %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-6">
            <div class="card">
              <div class="blog-box blog-list row">
                <div class="col-xl-6 col-12">
                  <div class="blog-wrraper">
                    <%= link_to post_path(@popular[2].id) do %>
                      <%= image_tag('blog-3.jpg', {class: 'img-fluid sm-100-wp p-0'}) %>
                    <% end %>
                  </div>
                </div>
                <div class="col-xl-6 col-12">
                  <div class="blog-details">
                    <div class="blog-date"><span><%= @popular[2].created_at.strftime("%m") %></span> <%= @popular[2].created_at.strftime("%B %Y") %></div>
                    <%= link_to post_path(@popular[2].id) do %>
                      <h6><%= truncate(@popular[2].title.titleize, length: 35) %></h6>
                    <% end %>
                    <div class="blog-bottom-content">
                      <ul class="blog-social">
                        <li>by: <%= truncate(@popular[2].moderator.full_name, length: 25) %></li>
                        <li>5 Hits</li>
                      </ul>
                      <hr>
                      <%= link_to post_path(@popular[2].id) do %>
                        <p class="mt-0"><%= truncate(@popular[2].content.html_safe, length: 110) %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% @posts.each do |post| %>
        <div class="col-sm-6 col-xl-3 box-col-6 des-xl-50">
          <div class="card">
            <%= link_to post_path(post.id) do %>
              <div class="blog-box blog-grid">
                <div class="blog-wrraper">
                  
                    <%= image_tag('blog-6.jpg', {class: 'img-fluid top-radius-blog'}) %>
                  
                </div>
                <div class="blog-details-second">
                  <div class="blog-post-date"><span class="blg-month"><%= post.created_at.strftime("%b") %></span><span class="blg-date"><%= post.created_at.strftime("%d") %></span></div>
                  <h6><%= truncate(post.title.titleize, length: 50) %></h6>
                  <span>
                    <p>
                      <%= truncate(post.content.html_safe, length: 60) %>
                      <%= button_to "Read More", post_path(post), :class => "btn btn-square btn-info btn-xs", :method => :get %>
                    </p>
                    <div class="card-body p-0 m-0 p-b-5">
                      <% post.tags.each do |tag| %>
                      <% @tag_index = rand(8) %>
                        <span class="badge badge-<%= @tag_names[@tag_index] %> <%= (@tag_index == 4 || @tag_index == 6) ? 'text-dark' : '' %> "><%= tag.name.capitalize %></span>
                      <% end %>
                    </div>
                  </span>
                  <% end %>
                  <div class="detail-footer"> 
                    <ul class="sociyal-list">
                      <li><i class="fa fa-user-o"></i><%= truncate(post.moderator.full_name, length: 19) %></li>
                      <li><i class="fa fa-comments-o"></i><%= post.comments.approved.count %></li>
                      <li><i class="fa fa-thumbs-o-up"></i>2 like</li>
                    </ul>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>