<div class="page-body">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-6">
          <h3>Today's News</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", home_path %></li>
            <li class="breadcrumb-item active">News</li>
          </ol>
        </div>
        <div class="col-sm-6">
          <!-- Bookmark Start-->
          <div class="bookmark">
            <ul>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
              <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                <form class="form-inline search-form">
                  <div class="form-group form-control-search">
                    <input type="text" placeholder="Search..">
                  </div>
                </form>
              </li>
            </ul>
          </div>
          <!-- Bookmark Ends-->
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid blog-page">
    <div class="row">
      <div class="col-xxl-6 set-col-12 box-col-12 xl-40">
        <div class="card">
          <div class="blog-box blog-shadow">
            <%= image_tag('blog.jpg', {class: 'img-fluid bg-img-cover'}) %>
            <div class="blog-details">
              <p>25 July 2018</p>
              <%= link_to post_path(@posts.first.id) do %>
                <h4>Accusamus et iusto odio dignissimos ducimus qui blanditiis.</h4>
              <% end %>
              <ul class="blog-social">
                <li><i class="icofont icofont-user"></i>Mark Jecno</li>
                <li><i class="icofont icofont-thumbs-up"></i>02 Hits</li>
                <li><i class="icofont icofont-ui-chat"></i>598 Comments</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-6 set-col-12 box-col-12 xl-60">
        <div class="row">
          <div class="col-xl-12 col-md-6">
            <div class="card">
              <div class="blog-box blog-list row">
                <div class="col-xl-6 col-12">
                  <div class="blog-wrraper">
                    <%= link_to post_path(@posts.first.id) do %>
                      <%= image_tag('blog-2.jpg', {class: 'img-fluid sm-100-wp p-0'}) %>
                    <% end %>
                  </div>
                </div>
                <div class="col-xl-6 col-12">
                  <div class="blog-details">
                    <div class="blog-date"><span>02</span> January 2021</div>
                    <%= link_to post_path(@posts.first.id) do %>
                      <h6>Perspiciatis unde omnis iste natus</h6>
                    <% end %>
                    <div class="blog-bottom-content">
                      <ul class="blog-social">
                        <li>by: Admin</li>
                        <li>12 Hits</li>
                      </ul>
                      <hr>
                      <%= link_to post_path(@posts.first.id) do %>
                        <p class="mt-0">inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit.</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-6">
            <div class="card">
              <div class="blog-box blog-list row">
                <div class="col-xl-6 col-12">
                  <div class="blog-wrraper">
                    <%= link_to post_path(@posts.first.id) do %>
                      <%= image_tag('blog-3.jpg', {class: 'img-fluid sm-100-wp p-0'}) %>
                    <% end %>
                  </div>
                </div>
                <div class="col-xl-6 col-12">
                  <div class="blog-details">
                    <div class="blog-date"><span>03</span> January 2021</div>
                    <%= link_to post_path(@posts.first.id) do %>
                      <h6>Perspiciatis unde omnis iste natus</h6>
                    <% end %>
                    <div class="blog-bottom-content">
                      <ul class="blog-social">
                        <li>by: Admin</li>
                        <li>5 Hits</li>
                      </ul>
                      <hr>
                      <%= link_to post_path(@posts.first.id) do %>
                        <p class="mt-0">inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit.</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% @posts.each do |post| %>
        <div class="col-sm-6 col-xl-3 box-col-6 des-xl-50">
          <div class="card">
            <%= link_to post_path(post.id) do %>
              <div class="blog-box blog-grid">
                <div class="blog-wrraper">
                  
                    <%= image_tag('blog-6.jpg', {class: 'img-fluid top-radius-blog'}) %>
                  
                </div>
                <div class="blog-details-second">
                  <div class="blog-post-date"><span class="blg-month">apr</span><span class="blg-date">10</span></div>
                  <h6><%= truncate(post.title.titleize, length: 60) %></h6>
                  <span>
                    <p>
                      <%= truncate(post.content.html_safe, length: 60) %> 
                      <%= button_to "Read More", post_path(post), :class => "btn btn-square btn-info btn-xs", :method => :get %>
                    </p>
                  </span>
                  <% end %>
                  <div class="detail-footer"> 
                    <ul class="sociyal-list">
                      <li><i class="fa fa-user-o"></i>admin</li>
                      <li><i class="fa fa-comments-o"></i>5</li>
                      <li><i class="fa fa-thumbs-o-up"></i>2 like</li>
                    </ul>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>