<div class="page-body">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-6">
          <h3>News Detail</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", home_path %></li>
            <li class="breadcrumb-item"><%= link_to "News", posts_path %></li>
            <li class="breadcrumb-item active"><%= truncate(@post.title.titleize, length: 50, separator: ' ') %></li>
          </ol>
        </div>
        <div class="col-sm-6">
          <!-- Bookmark Start-->
          <div class="bookmark">
            <ul>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
              <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
              <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                <form class="form-inline search-form">
                  <div class="form-group form-control-search">
                    <input type="text" placeholder="Search..">
                  </div>
                </form>
              </li>
            </ul>
          </div>
          <!-- Bookmark Ends-->
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="blog-single">
          <div class="blog-box blog-details">
            <div class="banner-wrraper">
              <%= image_tag('blog-single.jpg', {class: 'img-fluid w-100 bg-img-cover'}) %>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="blog-details">
                  <ul class="blog-social">
                    <li><%= time_ago(@post.created_at)%></li>
                    <li><i class="icofont icofont-user"></i>Mark <span>Jecno </span></li>
                    <li><i class="icofont icofont-thumbs-up"></i>02<span>Hits</span></li>
                    <li><i class="icofont icofont-ui-chat"></i>598 Comments</li>
                  </ul>
                  <h4><%= @post.title %></h4>
                  <div class="single-blog-content-top">
                    <p><%= @post.content.html_safe %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card comment-box">
            <div class="card-body">
              <h4>Comments</h4>
              <ul>
                <li>
                  <div class="media align-self-center">
                    <%= image_tag('blog-comment.jpg', {class: 'align-self-center'}) %>
                    <div class="media-body">
                      <div class="row">
                        <div class="col-md-4"><a href="user-profile.html">
                            <h6 class="mt-0">Jolio Mark<span> ( Designer )</span></h6></a></div>
                        <div class="col-md-8">
                          <ul class="comment-social">
                            <li><i class="icofont icofont-thumbs-up"></i>02 Hits</li>
                            <li><i class="icofont icofont-ui-chat"></i>598 Comments</li>
                          </ul>
                        </div>
                      </div>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <ul>
                    <li>
                      <div class="media">
                        <%= image_tag('blog-9.jpg', {class: 'align-self-center'}) %>
                        <div class="media-body">
                          <div class="row">
                            <div class="col-xl-12"><a href="user-profile.html">
                                <h6 class="mt-0">Jolio Mark<span> ( Designer )</span></h6></a></div>
                          </div>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="media">
                    <%= image_tag('blog-4.jpg', {class: 'align-self-center'}) %>
                    <div class="media-body">
                      <div class="row">
                        <div class="col-md-4"><a href="user-profile.html">
                            <h6 class="mt-0">Jolio Mark<span> ( Designer )</span></h6></a></div>
                        <div class="col-md-8">
                          <ul class="comment-social">
                            <li><i class="icofont icofont-thumbs-up"></i>02 Hits</li>
                            <li><i class="icofont icofont-ui-chat"></i>598 Comments</li>
                          </ul>
                        </div>
                      </div>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <%= image_tag('blog-12.png', {class: 'align-self-center'}) %>
                    <div class="media-body">
                      <div class="row">
                        <div class="col-md-4"><a href="user-profile.html">
                            <h6 class="mt-0">Jolio Mark<span> ( Designer )</span></h6></a></div>
                        <div class="col-md-8">
                          <ul class="comment-social">
                            <li><i class="icofont icofont-thumbs-up"></i>02 Hits</li>
                            <li><i class="icofont icofont-ui-chat"></i>598 Comments</li>
                          </ul>
                        </div>
                      </div>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media">
                    <%= image_tag('blog-14.png', {class: 'align-self-center'}) %>
                    <div class="media-body">
                      <div class="row">
                        <div class="col-md-4"><a href="user-profile.html">
                            <h6 class="mt-0 text-start">Jolio Mark<span> ( Designer )</span></h6></a></div>
                        <div class="col-md-8">
                          <ul class="comment-social">
                            <li><i class="icofont icofont-thumbs-up"></i>02 Hits</li>
                            <li><i class="icofont icofont-ui-chat"></i>598 Comments</li>
                          </ul>
                        </div>
                      </div>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>